*, ::before, ::after{
    margin: 0;
    box-sizing: border-box;
}

body, main{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

main{
    background-image: url(./assets/mainbg.jpg);
    background-size: cover;
    background-position: center 0%;
    background-repeat: no-repeat;
    position: relative;
    transition: transform 350ms cubic-bezier(.13, .53, .38, .97);
}

.menu-btn{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(182, 142, 113);
    border-radius: 50%;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.65);
    cursor: pointer;
    display: flex;
    border: none;
    margin-left: 80%;
    margin-top: 10%;
}

.menu-btn > .open > div{
    opacity: 0;
    width: 40px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 5px;
    transform: translateX(55%) translateY(35px);
    transition: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 350ms;
}

.menu-btn > .close > div{
    opacity: 0;
    margin-left: 3px;
    width: 40px;
    height: 5px;
    background-color: #fff8;
    transform: translateX(-55%) translateY(45px) rotateZ(45deg);
    transition: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 350ms;
}

.menu-btn > .close > .left{
    transform: translateX(-55%) translateY(41px) rotateZ(-45deg);
}

body:not([data-menu-open="true"]) > main > .menu-btn:hover > .open > div {
    opacity: 1;
    transform: translateX(55%) translateY(35px) scale(1);
}

body[data-menu-open="true"] > main > .menu-btn:hover > .close > div {
    opacity: 1;
    transform: translateX(-55%) translateY(45px) rotateZ(45deg) scale(1);
}

body[data-menu-open="true"] > main > .menu-btn:hover > .close > .left {
    opacity: 1;
    transform: translateX(-55%) translateY(41px) rotateZ(-45deg) scale(1);
}

body[data-menu-open="true"] > main{
    transform: translateY(-60%);
}

body[data-menu-open="true"] > main > .menu-btn{
    transform: translateY(450%);
    background-color: rgb(50, 50, 56);
}

/* menu items */

.content{
    position: absolute;
    display: flex;
    gap: 2rem;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    top: 55%;
    transition: transform 300ms cubic-bezier(.13, .53, .38, .97);
}

.content > .card{
    position: relative;
    height: 250px;
    width: 200px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.content > .card > img{
    position: absolute;
    height: 250px;
    width: 200px;
    opacity: 0.9;
    border: 1px solid rgb(31, 31, 32);
    border-radius: 15px;
    object-fit: fill;
    z-index: -1;
}
.content > .card > p{
    position: absolute;
    color: #fff8;
    top: 30%;
    left: 17px;
    font-family: 'Courier New', Courier, monospace;
    font: 900;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0;
    transition: box-shadow, opacity 350ms ease;
}

.content > .card:hover > img{
    opacity: 0.3;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.65);
}

.content > .card:hover > p{
    opacity: 1;
}

body[data-menu-open="true"] > .content{
    transform: translateY(10%) scale(1.3);
    z-index: 4;
}

body[data-menu-open="false"] > .content{
    transform: translateY(0%);
    z-index: -1;
}

@media screen and (max-width: 1200px){
    body[data-menu-open="true"] > main{
        transform: translateX(-50%);
    }
    .content{
        flex-direction: column;
        gap: 0.5rem;
        flex: 4;
        top: 6%;
        left: 50%;
        justify-content: space-evenly;
        margin-left: 10%;
    }
    .content > .card{
        height: 120px;
        width: 180px;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    .content > .card > img{
        height: 120px;
        width: 180px;
    }
    body[data-menu-open="true"] > main > .menu-btn {
        margin-top: 0%;
    }
    body[data-menu-open="false"] > main > .menu-btn {
        transform: translateY(40vh) translateX(-20px);
    }
}